<div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
<h1>編集画面</h1>
<%= form_with model: @post, url: update_post_path(@post.id), method: :patch do |f| %>
    <h4>タイトル</h4>
    <p><%= f.file_field :image, accept: "image/*", class: "w-100" %></p>
    <p>紹介文<%= f.text_field :introduction %></p>
    <p>
        <%= f.label :software, '使用ソフト' %>
        <%= f.collection_select :software, Software.all, :id, :software, { prompt: '選択してください' }, class: 'form-control' %>
    </p>

    <p> コメント（あれば）<%= f.text_area :comments %></p>
    <p>タグ
        <%#= form_with(model: [@tag,@post], local: true) do |f| %>
            <%= f.text_field :tag_name, placeholder: "タグ入力", class: 'uk-input uk-form-small' %>
        <%# end %>
    </p>
    <%= f.submit '保存' ,class: "btn btn-success" %>
<% end %>


</div> 