<div class="box">
<canvas id="canvas" class="back"></canvas>
<div class="box2">
<div class='mt-5', id="title">
	<p>
		<span>S</span>
		<span>E</span>
		<span>A</span>
		<span>R</span>
		<span>C</span>
		<span style ="margin-right:20px;">H</span>
		<span>R</span>
		<span>E</span>
		<span>S</span>
		<span>U</span>
		<span>L</span>
		<span>T</span>
		<span>S</span>
	</p>
</div>
<div class="wrap">
	<div class='container px-5 px-sm-0'>
		<div class='row'>
			<div class='col-md-8 offset-md-1' style='margin: 0 auto;'>
				<table class='table table-hover table-inverse'>
					<tbody>
						 <% @results.each do |post| %>
							<div class="container">
							<div class="row o-2column">
								<div class="col-md-8 ml-4">
								<%= link_to post_path(post.id) do %>
									<%= post.twitter.to_s.html_safe %>
								</div>
									<div class="ml-3 col-md-3">
									<h5><i class="bi bi-person-fill"></i></i> ユーザー</h5>
										<p><%= link_to user_path(post.user.id) do %><%= post.user.user_name %><% end %></p>
									<h5><i class="bi bi-magic"></i> 使用ソフト</h5>
										<p>・<%= post.software.name %></p>
									<h5><i class="bi bi-pen"></i> 線画ペン</h5>
										<p>・<%= post.brush %></p>
									<h5><i class="bi bi-pencil-fill"></i> 塗りペン</h5>
									<% post.pens.each do |use_pen| %>
											<% if use_pen.present? %>
												<p>・<%= use_pen.use_pen %></p>
											<% end %>
										<% end %><br>									
										<p><%= link_to "詳細", post_path(post.id), class: "btn btn-success" %></p>							
										<% @tag_lists.each do |list| %>
										<% if list.tag_name == post.tag_name %>
											<p style="color: #17a2b8;"><i class="bi bi-tag-fill"></i><%= link_to post.tag_name, posts_path(tag_id: list.id) %></p>
											<% end %>
										<% end %>									
									</div>								
								<% end %>
							</div>
							</div>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<ul class="pagination"><li class="page-item"><%= paginate @post_page%></li></ul>
	</div>
</div>
</div>
</div>
