<div class="alret">
  <%= flash[:alret] %>
</div>
<div class="col-md-6 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5" style="background:rgba(255,255,255,0.5);">
<div class='pt-5', id="title">
		<p>
    <span>掲</span>
    <span>示</span>
    <span>板</span>
		<span>編</span>
		<span>集</span>
	</p>
</div>
    <%= form_with model: @board, url: board_update_board_path(@board.id), method: :patch do |f| %>
      <div class="container pb-5">
          <div class="question_box">
            <!--<p> 紹介文<br><%#= f.text_area :introduction %></p>-->
            <div class="text_box"><b style="color: #dc3545;">*</b>タイトル<br><%= f.text_area :headline %></div> 
            <div class="text_box text_box_main"><b style="color: #dc3545;">*</b>本文<br><%= f.text_area :question %></div> 
            <p><span class="any">画像<small>（任意）</small></span>
              <%= f.file_field :image, accept: "image/*" %>
            </p>
            <p><%= f.submit "保存" ,class: "col btn btn-dark-blue btn-rounded" %></p>
    <% end %>
      </div>

    </div>
</div> 

