<% @boards.each do |board| %>
<div>
  <p>投稿ユーザー画像：</p>
          <% if board.image.attached? %>
            <figure class="hover-img">
              <%= link_to board.image, "data-lightbox": board.image do %>
                <%= image_tag board.image ,style: "max-width: 400px;", class:"img" %>
              <% end %>
              <figcaption>
                  <p>クリックして拡大</p>
              </figcaption>
            </figure>
          <% end %>
  <p><%= board.headline %></p>
  <p><%= board.question %></p>
  <p>ユーザーネーム：<%= board.user.user_name %></p>
</div>
<div>
<p><%= link_to "#{board.board_comments.count} コメント", board_path(board.id) %></p>
</div>
<% end %>
<div>


</div>

