<div class="wrap mx-sm-auto">
  <div class='mt-5', id="title">
    <p>
    <span>T</span>
    <span>H</span>
    <span>R</span>
    <span>E</span>
    <span>A</span>
    <span>D</span>
    </p>
    <!--<p>-->
    <!--<span>お</span>-->
    <!--<span>す</span>-->
    <!--<span>き</span>-->
    <!--<span>な</span>-->
    <!--<span>よ</span>-->
    <!--<span>う</span>-->
    <!--<span>に</span>-->
    <!--</p>-->
  </div>
</div>
	<div class="row mt-3">
		<div class="col btn_wrap">
		    <%= link_to "質問する" , new_board_path, class: "col btn btn-funky-moon btn-rounded" %>
		</div>
	</div>
<div class="container">
<% @boards.each do |board| %>
  <div class="row board">
    <div class="col-sm-2">
		<% if board.user.image_local.present? %>
			<%= image_tag board.user.image_local.variant(resize_to_fill: [48, 48]) %>
		<% else %>
			<%= image_tag board.user.image  %>
		<% end %> 
    </div>
    <div class="col-sm-8">
      <p><strong><i class="bi bi-patch-question"></i> <span><%= link_to board.headline, board_path(board.id) %></span></strong></p>
      <p><%= board.question %></p>
      <% if board.board_comments.present? %>
        <span><%= link_to "#{board.board_comments.count} コメント", board_path(board.id) %></span>
      <% elsif %>
        <span><%= board.board_comments.count %> コメント</span>
      <% end %>
    </div>
  </div>
<% end %>
</div>
<ul class="pagination"><li class="page-item"><%= paginate @boards%></li></ul>