<div class="alret">
  <%= flash[:alret] %>
</div>
<div class="wrap mx-sm-auto">
  <div class="shadow-lg rounded px-0 my-5 table">
    <div class="board_box">
      <div class="board_title">
        <i class="bi bi-chat-right-dots-fill"></i> <%= @board.headline %>
      </div>
      <div class="board_main">
        <p class="py-5">
          <%=safe_join(@board.question.split("\n"),tag(:br))%>
        </p>
        <p>
          <% if @board.image.attached? %>
          <small>※画像をクリックすると拡大できます</small>
          <figure class="hover-img">
            <%= link_to @board.image, "data-lightbox": @board.image do %>
              <%= image_tag @board.image ,class:"img" %>
            <% end %>
            <figcaption>
              <p>画像をクリックして拡大</p>
            </figcaption>
          </figure>
          <% end %>
        </p>
        <p>
          <small>
          <% if @board.user.image_local.present? %>
      			<%= image_tag @board.user.image_local.variant(resize_to_fill: [48, 48]) %>
      		<% else %>
      			<%= image_tag @board.user.image %>
      		<% end %> <%= @board.user.user_name %>
      		</small><br>
          <small><%= @board.created_at.strftime('%Y/%m/%d %H:%M:%S') %></small>
        </p>
        <% if @board.user == current_user %>
        <p class="pb-3">
          <%= link_to "編集", edit_board_path(@board.id),class: "col btn btn-dark-blue btn-rounded" %><br>
          <%= link_to "削除", board_destroy_board_path(@board), class: "col btn btn-pink-moon btn-rounded", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mx-2 mx-sm-auto shadow-lg rounded px-0 my-5 table"> 
		<div id="board_comments_area"> 
		<%= render 'public/board_comments/board_comments', board: @board, board_comment: @board_comment %>
		</div>
    <div class="mt-5 ml-4  pt-3">
      <% if current_user.email == 'guest@example.com' %>		
        <%=  %>    
      <% else %>
          <div id="new_board_comment">
            <%= render 'public/board_comments/board_form', board: @board, board_comment: @board_comment %>
          </div>
      <% end %>
    </div>
  </div>
</div>