<div class="alret">
  <%= flash[:alret] %>
</div>
<div class="col-md-6 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5" style="background:rgba(255,255,255,0.5);">
  <div class="board_box">
    <div class="board_title">
      <i class="bi bi-patch-question"></i> <%= @board.headline %>
    </div>
    <div class="board_main">
      <p class="py-5">
        <%= @board.question.to_s.html_safe %>
      </p>
      <p>
        <% if @board.image.attached? %>
        <figure class="hover-img">
          <%= link_to @board.image, "data-lightbox": @board.image do %>
            <%= image_tag @board.image ,style: "max-height: 400px;", class:"img" %>
          <% end %>
          <figcaption>
            <p>クリックして拡大</p>
          </figcaption>
        </figure>
        <% end %>
      </p>
      <p>
        <small>
        <% if @board.user.image_local.present? %>
    			<%= image_tag @board.user.image_local.variant(resize_to_fill: [48, 48]) %>
    		<% else %>
    			<%= image_tag @board.user.image  %>
    		<% end %> <%= @board.user.user_name %>
    		</small><br>
        <small><%= @board.created_at.strftime('%Y/%m/%d') %></small>
      </p>
      <% if @board.user == current_user %>
      <p class="pb-3">
        <%= link_to "編集", edit_board_path(@board.id),class: "col btn btn-dark-blue btn-rounded" %><br>
        <%= link_to "削除", board_destroy_board_path(@board), class: "col btn btn-pink-moon btn-rounded", method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5" style="background:rgba(255,255,255,0.5);"> 
  <% @board.board_comments.each do |board_comment| %>
    <div class="answer_box5 ml-3">
  		<% if board_comment.user.image_local.present? %>
  			<%= image_tag board_comment.user.image_local.variant(resize_to_fill: [48, 48]) %>
  		<% else %>
  			<%= image_tag board_comment.user.image  %>
  		<% end %> 
      <div class="balloon1-left">
        <p><b><%= board_comment.answer %></b></p>
        <p class="pt-2 small">
        <small>
          <%= board_comment.user.user_name %><br>
          <%= board_comment.created_at.strftime('%Y/%m/%d') %>
          <% if board_comment.user == current_user %><br>
            <%= link_to '削除', board_destroy_board_comment_path(@board, board_comment), data: {confirm: '本当に削除しますか？'}, method: :delete ,class: "col btn btn-pink-moon btn-rounded mt-2"%><br>
          <% end %>
        </small>
        </p>
      </div>
    </div>
  <% end %>
  <div class="mt-5 ml-4  pt-3">
    <% if current_user.email == 'guest@example.com' %>		
      <%=  %>    
    <% else %>
      <%= form_with model: [@board, @board_comment] do |f| %>
        <%= f.text_area :answer, rows: '5', placeholder: "コメントをここに" , style: "height: 80px;", class: 'search_container' %>
        <%= f.submit "送信する" ,class: "col btn btn-dark-blue btn-rounded mb-4"%>
      <% end %>
    <% end %>
  </div>
</div>
