<div class="mx-sm-auto shadow-lg rounded my-5 pb-5" style="text-align: center; max-width:700px;">
  <div style="background-color: #17a2b8; text-align: center; color: white;">
  <%= alert %>
  </div>
<div class='pt-5', id="title">
    <p>
    <span>A</span>
    <span>D</span>
    <span>M</span>
    <span>I</span>
    <span style ="margin-right:20px;">N</span>
    <span>L</span>
    <span>O</span>
    <span>G</span>
    <span>I</span>
    <span>N</span>
    </p>
</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
        <%= f.label :メールアドレス  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'search_container' %>
    </div>
    <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'search_container' %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %> 
    <div class="actions">
      <%= f.submit "ログイン" ,class:'fab fa-twitter col btn btn-funky-moon btn-rounded mb-5 mt-5'%>
    </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>