<div class="col-md-6 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5" style="background:rgba(255,255,255,0.5);">
  <%= flash[:alret] %>
  <div class='pt-5', id="title">
		<p>
  		<span>編</span>
  		<span>集</span>
	</p>
</div>
  <p>
    <%= form_with model: @post, url: admin_update_post_path(@post.id), method: :patch do |f| %>
      <div class="container  ml-5">
        <div class="row">
          <div class="col-md-5">
            <p> ツイッターURL<br><%= f.text_area :twitter %></p>           
          </div>
          <div class="col-md-6">
            <p>
              <%= f.label :software_id, '使用ソフト' %>
              <%= f.collection_select :software_id, Software.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
            </p>
            <!--<p> 紹介文<br><%#= f.text_area :introduction %></p>-->
            <p>線画ペン<br><%= f.text_field :brush %></p> 
            <p>塗りペン<br>
            <div class="pens">
            <%= f.fields_for :pens do |t| %>              
                <div style="width: 400px;">
                  <div class="nested-fields" style="width: 400px; margin-top: 5px;">
                    <div class="row">
                      <div class="col-5"><%= t.text_field :use_pen, class: "form-control", placeholder: "水彩筆" %></div>
                      <div><%= link_to_remove_association "", t, class: "btn btn-secondary btn-block bi-trash" %></div>
                    </div>
                  </div>
                </div>
            <% end %>
            <div id="detail-association-insertion-point"></div>
              <div class="mt-2 mb-3">
                <%= link_to_add_association "", f, :pens,
                class: "btn btn-secondary btn-block bi bi-plus-circle",
                data: {
                association_insertion_node: '#detail-association-insertion-point',
                association_insertion_method: 'before'
                }%>
              </div>
            </div>
          </p>
            <p>補足<br><%= f.text_area :comments %></p>
            <p>説明画像 <%= f.file_field :image, accept: "image/*", class: "w-100" %></p>
            <p>タグ<br>
              <%= form_with(model: [@tag,@post], local: true) do |f| %>
                <%= f.text_field :tag_name, placeholder: "タグ入力", class: 'uk-input uk-form-small' %>
              <% end %>
            </p> 
            <p><%= f.submit '保存' ,class: "btn btn-success" %></p>
    <% end %>
      </div>
      </div>
    </div>
</div> 
