<div class="alret">
  <%= flash[:alret] %>
</div>
<div class='mt-5 mb-5', id="title">
  <p>
  <span>詳</span>
  <span>細</span>
  </p>
</div>
<div class='container px-5 px-sm-0'>
	<div class='row'>
		<div class='col-md-8' style='margin: 0 auto;'>
				<div class="post_wrapper">
					<div class="row o-2column"  style="margin-left: -48px;">
						<%= link_to user_path(@post.id) do %>
							<div class="col-md-8 ml-4" style="padding-left: 0px;">
								<%= @post.twitter.to_s.html_safe %>
							</div>
							<div class="ml-3 col-md-3">
								<p><%= link_to user_path(@post.user.id) do %><%= image_tag @post.user.image %><br><%= @post.user.user_name %><% end %></p>
								<h5><i class="bi bi-magic"></i> 使用ソフト</h5>
								<p>・<%= @post.software.name %></p>
                <h5 class="mt-4"><i class="bi bi-pen"></i> 線画ペン</h5>
                  <p>・<%= @post.brush %></p> 
                    <% if @post.pen_present? %>
                      <h5 class="mt-4"><i class="bi bi-pencil-fill"></i> 塗りペン、他</h5>
                    <% end %>
                <% @post.pens.each do |use_pen| %>
                    <% if use_pen.use_pen.present? %>
                      <p>・<%= use_pen.use_pen %></p>
                    <% end %>
                <% end %>
                <% if @post.comments.present? %>
                  <h5 class="mt-4"><i class="bi bi-card-text"></i> 補足説明</h5>
                  <p><%= @post.comments %></p>
                <% end %>
                <% @post.tags.each do |tag| %>
                  <p style="color: #17a2b8;"><i class="bi bi-tag-fill"></i><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></p>											
                <% end %>
                <% if @post.image.attached? %>
                  <figure class="hover-img">
                    <%= link_to @post.image, "data-lightbox": @post.image do %>
                      <%= image_tag @post.image ,style: "max-width: 200px;", class:"img" %>
                    <% end %>
                    <figcaption>
                      <p>クリックして拡大</p>
                    </figcaption>
                  </figure>
                <% end %>
                  <div class="row" style="margin-left: 1px;">
                  <p><%= link_to "編集", admin_edit_post_path(@post.id),class: "col btn btn-dark-blue btn-rounded" %></p>
                  <p><%= link_to "削除", admin_destroy_post_path(@post.id), class: "col btn btn-pink-moon btn-rounded", method: :delete, "data-confirm" => "本当に削除しますか？" %></p>
                  </div>
							</div>							
						<% end %>
					</div>
				</div>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5" style="background:rgba(255,255,255,0.5);"> 
  <% @post.post_comments.each do |post_comment| %>
    <div class="comment_box5 ml-3">
      <%= image_tag post_comment.user.image %>
      <div class="balloon1-left">
        <p><b><%= post_comment.comment %></b></p>
        <p class="pt-2 small">
        <small>
          <%= post_comment.user.user_name %><br>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
            <%= link_to '削除', admin_post_post_comment_path(@post, post_comment), data: {confirm: '本当に削除しますか？'}, method: :delete ,class: "col btn btn-pink-moon btn-rounded"%><br>

        </small>
        </p>
      </div>
    </div>
  <% end %>
</div>
