<div class="alret">
  <%= flash[:alret] %>
</div>
<div class="col-md-6 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5 pb-5" style="text-align: center;">
    <div style="padding: 0px 20px 20px 20px;">
    <%= form_with model: @software, url: admin_update_software_path(@software.id), method: :patch do |f| %>
        <div class='pt-5', id="title">
            <p>
            <span>E</span>
            <span>D</span>
            <span>I</span>
            <span>T</span>
            </p>
        </div>
        <table class='table'>
            <tr>
            <th>ソフト名</th>
            <td><%= form_with model: @software, url: admin_update_software_path(@software.id), method: :patch do |f| %>
            <%= f.text_field :name %>
            </td>
            </tr>
        </table>
        <%= f.submit '保存', class: "btn btn-success btn-sm px-5"  %>
        <% end %>
    <% end %>
    </div>
</div>