<div class="wrap">
    <div class="top">
        <div class='mt-5 mb-5', id="title">
            <p>
                <span>S</span>
                <span>O</span>
                <span>F</span>
                <span>T</span>
                <span>W</span>
                <span>A</span>
                <span>R</span>
                <span>E</span>
            </p>
        </div>
        <div class='container px-5 px-sm-0'>
            <div class='row' style="text-align: center;">
                <div class='col-md-8 offset-md-1' style="margin: 0 auto;">
                    <table class="table table-hover">
                        <p class='mb-5'>
                        <%= form_with model: @software,url:admin_softwares_path, local: true do |f| %>
                            <%= f.text_field :name, class:'form-control' %>
                            <%= f.submit '新規登録', class: 'btn btn-primary btn-block' %>
                        </p>
                        <tbody>
                            <% @softwares.each do |software| %>
                                <tr>
                                <td><%= software.name %></td>
                                <td><%= link_to "編集する", edit_admin_software_path(software.id) ,class: "btn btn-success" %>
                                <%= link_to "削除する", admin_destroy_software_path(software.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>                   
                                </tr>
                            <% end %>
                        </tbody>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
