<h1>ジャンル一覧・追加</h1>

<div class='container px-5 px-sm-0'>
    <div class='row'>
        <div class='col-md-8 offset-md-1'>
        <h2>ジャンル</h2>
        <%= form_with model: @software,url:admin_softwares_path, local: true do |f| %>
        <%#= f.label :name, 'ジャンル名' %>
        ジャンル名
        <%= f.text_field :software, class:'form-control' %>
        <%= f.submit '新規登録', class: 'btn btn-primary btn-block' %>
        <% end %>
        <table class='table table-hover table-inverse'>
            <thead>
                <% @softwares.each do |software| %>
            </thead>
            <tbody>
                <tr>
                <th><%= software.software %></th>
                <td>
                <%= link_to "編集する", edit_admin_software_path(software.id) ,class: "btn btn-success" %>
                </td>
                <td><%= link_to "削除する", admin_destroy_software_path(software.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
                </td>
                <% end %>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>


