<div class='container px-sm-0 col-md-3' style="padding-top:0px;">
    <div class='mt-5 mb-5', id="title">
        <p>
            <span>S</span>
            <span>O</span>
            <span>F</span>
            <span>T</span>
            <span>W</span>
            <span>A</span>
            <span>R</span>
            <span>E</span>
        </p>
    </div>
    <table class='table'>
        <p class='mb-5'>
        <%= form_with model: @software,url:admin_softwares_path, local: true do |f| %>
            <%= f.text_field :name, class:'form-control' %>
            <%= f.submit '新規登録', class: 'btn btn-primary btn-block' %>
        </p>
        <tr>
            <% @softwares.each do |software| %>
                <th><%= software.name %></th>
                <td><%= link_to "編集する", edit_admin_software_path(software.id) ,class: "btn btn-success" %></td>
                <td><%= link_to "削除する", admin_destroy_software_path(software.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>