<div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
	<div class='mt-5', id="title">
		<p>
			<span>U</span>
			<span>S</span>
			<span>E</span>
			<span style ="margin-right:20px;">R</span>
			<span>P</span>
			<span>A</span>
			<span>G</span>
			<span>E</span>
		</p>
	</div>
	<table class='table'>
	  <tr>
		  <th>ユーザー名</th>
		  <td><%= @user.user_name %></td>
	  </tr>
	   <tr>
		  <th>メールアドレス</th>
		  <td><%= @user.email %></td>
	   </tr>
	</table>
</div>
	<div class='container px-5 px-sm-0'>
		<div class='row'>
			<div class='col-md-8 offset-md-1' style='margin: 0 auto;'>
			    <span><%= link_to "編集", edit_admin_user_path ,class: "btn btn-success"%></span>
				<table class='table table-hover table-inverse'>
					<tbody>
						<% @post.each do |post| %>
							<div class="container">
							<div class="row o-2column">
								<div class="col-md-8 ml-4">
								<%= link_to post_path(post.id) do %>
									<%= post.twitter.to_s.html_safe %>
								</div>
								<div class="ml-3 col-md-3">
									<h5><i class="bi bi-magic"></i> 使用ソフト</h5>
									<p>・<%= post.software.name %></p>
									<h5><i class="bi bi-pen"></i> 線画ペン</h5>
									<p>・<%= post.brush %></p>
									<h5><i class="bi bi-pencil-fill"></i>塗りペン</h5>
								<% post.pens.each do |use_pen| %>
									<% if use_pen.present? %>
										<p>・<%= use_pen.use_pen %></p>
									<% end %>
								<% end %>
								<br>
									<p><%= link_to "詳細", admin_post_path(post.id),class: "btn btn-success"  %></p>
									<%= "#{post.post_comments.count} コメント" %>
								</div>							
								<% end %>
							</div>
							</div>
						<% end %>					
					</tbody>
				</table>
			</div>
		</div>
		<ul class="pagination"><li class="page-item"><%= paginate @posts%></li></ul>
	</div>
