<div class="mx-sm-auto shadow-lg rounded my-5 pb-5" style="text-align: center; max-width:700px;">
	<div class='pt-5', id="title">
		<p>
			<span>S</span>
			<span>I</span>
			<span>G</span>
			<span style ="margin-right:20px;">N</span>
			<span>I</span>
			<span>N</span>
		</p>
		</div>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<!--<b class="attention">※18歳未満のご利用はできません</b>	-->
	<p><%= render "public/shared/error_messages", resource: resource %><p>
			<%- if devise_mapping.omniauthable? %>
				<%- resource_class.omniauth_providers.each do |provider| %>
					<p class="login"> <%= link_to "Twitterアカウントで新規登録・ログイン", omniauth_authorize_path(resource_name, provider), class:'fab fa-twitter col btn btn-funky-moon btn-rounded mb-5 mt-3', method: :post %></p>
				<% end %>
			<% end %>
		<p class="guest"><%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, method: :post , class: "btn btn-primary btn-sm px-4 btn-rounded " %></p>
	<% end %>
	    <p style="padding-right :60px;"><%= image_tag 'drow.gif'%></p><div class="wrap about">
    <p class="mb-5">
        この神絵は一体なんのペンで描かれているの…？<br>
        同じペンを使えば神絵師に近づけるのでは…！？<br>
        誰しも一度は思うはず。<small>（…思うよね？）</small><br>
        このサイトであなたがイラストを描く際に使用したペンを共有してみませんか？<br>
        何度投稿しても、昔のイラストでも、新刊の宣伝を兼ねていても、なんでもOK！<br>
    </p>
    <p>
        掲示板ではおすすめの素材や機能の紹介、ちょっと質問したいことなど、<br>
        常識の範囲内で自由に使ってください！<br>
        <!--<small>ふこ/@sumebeko32</small><br>-->

</div>
</div>

