<div style="background-color: #dc3545; text-align: center; color: white;">
  <%= flash[:alret] %>
</div>
<div class="col-md-6 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5" style="background:rgba(255,255,255,0.5); text-align:center;">
  <div class='pt-5', id="title">
    	<p>
    		<span>U</span>
    		<span>S</span>
    		<span>E</span>
    		<span style ="margin-right:20px;">R</span>
    		<span>S</span>
    		<span>E</span>
    		<span>T</span>
    		<span>T</span>
    		<span>I</span>
    		<span>N</span>
    		<span>G</span>
    	</p>
  </div>
  <%= form_with model: @user, url: update_user_path, method: :patch do |f| %>
    <div>
      <%= f.label :ユーザー名 %><br />
      <%= f.text_field :user_name%>
    </div>
    <div>
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email %>
    </div>
      <%= f.submit '編集内容を保存',class: "btn btn-success  my-5" %>
  <% end %>
</div>