<h2>ブックマーク一覧</h2>
<div class='col-md-8 offset-md-1'>
     <% if @favorite_posts.blank? %>
         ブックマークがありません。
     <% else %>
	<table class='table table-hover table-inverse'>
		<tbody>
			<% @favorite_posts.each do |post| %>
			<tr>
				<td>
					<%= link_to post_path(post.id) do %>
					<%= post.twitter.to_s.html_safe %>
				</td>
				<td>
					<%= post.introduction %><br>
					<%= post.comments %><br>
					<%= link_to "詳細", post_path(post.id),class: "btn btn-success"  %>
				</td>
				<% end %>
			<% end %>
			</tr>
		</tbody>
	</table>
	<% end %>
</div>