<div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
<h2>登録情報</h2>
<span><%= link_to "編集する", edit_user_path ,class: "btn btn-success"%></span>

<table class='table'>
  <tr>
	  <th>氏名</th>
	  <td><%= @user.user_name %></td>
  </tr>
   <tr>
	  <th>誕生日</th>
	  <td><%= @user.birth %></td>
  		</tr>
			<div class='col-md-7 offset-md-1'>
				<table class='table table-hover table-inverse'>
					<tbody>
						<% @posts.each do |post| %>
						<tr>
						<td class='col-md-7 offset-md-1'>
								<%= link_to post_path(post.id) do %>
									<%= post.twitter.to_s.html_safe %>
						</td>
						<td class='col-md-7 offset-md-1'>
							<%= post.introduction %><br>
							<%= post.comments %><br>
							<%= "#{post.post_comments.count} コメント" %>
							<%= link_to "詳細", post_path(post.id),class: "btn btn-success"  %>
						</td>						
							<% end %>
							<% end %>
						</tr>	
					</tbody>
				</table>
			</div>

</table>
</div>
